<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RegExRemoveLeadingApostrophe" value="^'+"/>
    <add key="RegExRemoveLeadingHyphen" value="^-+"/>
    <add key="RegExRemoveTrailingHyphen" value="-+$"/>
    <add key="RegExReplaceCharactersNotAllowedInWordsWithSpaces" value="[^|^a-zA-Z'-]+"/>
    <!-- Replace this with your local mahince path -->
    <add key="LoggerPath" value="C:\Users\ASUS\Documents\GitHub\ArvinSiozonBuildwireTechnicalExam\BuilderWireCodingChallenge\Logs"/>
    <!-- Replace this with your local mahince path -->
    <add key="OutputPath" value="C:\Users\ASUS\Documents\GitHub\ArvinSiozonBuildwireTechnicalExam\BuilderWireCodingChallenge\Output\output.txt"/>
  </appSettings>
</configuration>